/* badges style */

.badge-success {
  background-color: #17c964;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.badge-danger {
  background-color: #f90930;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.badge-warning {
  background-color: #ffa000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.badge-secondary {
  background-color: #9353d3;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.badge-primary {
  background-color: #006fee;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.badge-defalut {
  background-color: #3f3f46;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
